.logo{
    height: 50px;
}

.cn{
    background-color: bisque;
    border-bottom: goldenrod 1px solid;
    ;
}

.barra{
    gap: 20px;
}

.txtb{
    text-decoration: none;
    color: black;
    font-weight: 600;
}